*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: xx-large;
}
body,
html{
    background-color: black;
    width: 100%;
    height: 100%;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    height: 40vh;
    width: inherit;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 50px;
}
.numbers{
    align-items: center;
    display: flex;
    gap: 50px;
    font-weight: 800px;
    font-size: xx-large;
}
/* p1, p2{
    position: absolute;
    margin-left: 200px;
    font-size: xx-large;
    margin: 200px;
} */
/* p2{
    position: absolute;
    margin-top: 7px;    
} */
/* .first, p, .last{
    background-color: red;
} */
.first, .last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    /* background-color: gray; */

}
img{
    width: 50px;
    gap: 100px;
    
}
.last > img{
    height: 36px;
}
.second{
    /* background-color: red; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 20px; */
}