.long-containt{
    height: 1000px;
}
.child{
    position: sticky;
    top: 100px;
    background-color: yellow;
    color: black;
    
}
 .child > img{
    border: 2px solid black ;
    width: 200px;
    height: 200px;
    background-size: cover;
}
.parent{
    height: 100px;
    background-color: gray;
}
