*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
img {
    width: 100px;
}
button {
    padding: 6px 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

#cartPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#cartPage ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}