*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 2px solid red;
    text-transform: capitalize;
    background-color: pink;

}
fieldset{
    color: red;
}
input{
    border: 2px solid black;
    color: black;
}
